body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1D1F1F;
    color: white;
}

header {
    background-color: #FF5055;
    padding: 1em 0;
    text-align: center;
}

main {
    margin: 20px;
    color: black;
}

#reviews {
    margin-bottom: 20px;
}

#review-list {
    list-style-type: none;
    padding: 0;
}

#review-list li {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

#add-review h2 {
    color: white;
}

#add-review form {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

button {
    background-color: #FF5055;
    color: white;
    padding: 10px 15px;
}